.header{
    height: 200px;
    /* background-image: url(photo.jpg); */
    /* background-image: url(../Bangladesh-Pakistan1.jpg); */
    background-image: url(../Images/computer-icons-heart-favicon-png-favpng-8v5cS1FpQWFkLEUjTBW4fLWVb.jpg);
    background-size: 80%;
    /* background-position-x: center; */
    /* background-position-y: center; */
    background-repeat:no-repeat;
    /* background-blend-mode: multiply; */
    color: burlywood;

    /* background-color: rgb(218, 218, 228); */
}
.blog{
    background-color: chocolate;
    box-shadow: 10px 10px 10px gray;
}
span{
    border: 1px solid blue;
    height: 200px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 30px;
    /* display: block; */
    /* display: inline-block;
     */

}

h2{
    color: rgb(54, 38, 197);
    
}
h1{
    color: cadetblue;
    text-decoration: underline;
    text-decoration:dotted;
}
p{
    color: chartreuse;
}
.blog{
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
